﻿@model MyFirstMVC.Models.Phone

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Phone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
            $
        </dd>

        @foreach (Currency currency in ViewBag.Currencies)
        {
        <dt>
            @currency.CurrencyCode
        </dt>
        <dd>
            @currency.Calc(Model.Price, currency.CurrencyRate)
            @currency.CurrencyName
        </dd>
           
        }

    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="ManufactRedirect" asp-route-url="@Model.Url">Сайт производителя</a> |
    <a asp-action="Download" asp-route-id="@Model.Id">Скачать</a> |
    <a asp-action="Index">Back to List</a>
</div>
